/* line 1, ../sass/geofield_map.scss */
.geofield-map-cnt {
  width: 100%;
  height: 460px;
  display: block;
  margin: 10px 0;
  border: solid thin darkgray;
}
/* line 7, ../sass/geofield_map.scss */
.geofield-map-cnt .leaflet-top {
  z-index: 10;
}

/* line 12, ../sass/geofield_map.scss */
.geofield-map-buttons {
  margin: 10px 0;
}

/* line 16, ../sass/geofield_map.scss */
.geofield_map_geoaddress_field_hidden {
  display: none;
}

/* line 20, ../sass/geofield_map.scss */
.geofield-map-search-missing {
  color: red;
}
