/* line 1, ../sass/geofield_map_view_display_settings.scss */
.markers-location .form-item {
  display: inline-block;
}

/* line 5, ../sass/geofield_map_view_display_settings.scss */
form #map-theming-container {
  max-height: 800px;
  overflow-y: scroll;
  font-size: 0.85em;
  width: 90%;
}

/* line 12, ../sass/geofield_map_view_display_settings.scss */
form .image-widget-data .file {
  display: none;
}
