{#
/**
 * @file
 * Theme implementation to display a Geofield Google Map.
 *
 * This creates a placeholder for the map to be injected in.
 *
 * Available variables:
 * - mapid
 * - height
 * - width
 *
 * Note: min-width is set so that a map will show when "Inline" is specified
 * for the associated field label. This may of course be overridden. The default
 * field label style is "Above" with a width of 100%.
 *
 * @ingroup themeable
 *
 */
#}
<div id="{{ mapid }}" class="geofield-google-map" style="min-width: 150px; width: {{ width }}; min-height: 150px; height: {{ height }}">This is the Map Container</div>
